<div class="banner" style="background-image: url('<%= image_path 'drinks.jpg' %>');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn" %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h1 class= "add">Cocktails List</h1>


  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <div class="card">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'cocktails.jpg' %>')"><%= cocktail.name %></div>
          <div class="card-actions">
            <%= link_to 'More info', cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

