<h1 class= "add">Create a new dose for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f|%>

  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.button :submit, class: 'btn btn-secondary' %>

<% end %>


<%= link_to 'Back', cocktail_path(@cocktail.id), class: "add" %>
